.App{
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #0000ff;
}

.header {
  font-size: 24px;
  text-align: center;
  padding: 20px;
  background-color: #eee;
}

.MainContent{
  display: flex;
  flex-direction: row;
  flex: 1;
  background-color: #0515fa;
}

.sidebar {
  width: 100px;
  padding: 20px;
  background-color: #ff0000;

  position: relative;
  overflow-y: auto;
  overflow: auto;
}

.content-area {
  display: flex;
  flex: 1;
  position: relative;
  overflow: auto;
  background-color: #fa05d1;
}